name: Release

on:
  push:
    branches:
      - 'master'  # Trigger on any branch push

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 24
        uses: actions/setup-java@v4
        with:
          java-version: '24'
          distribution: 'oracle'

      - name: Grant execute permission for Gradle
        run: chmod +x gradlew

      - name: Build and Test
        run: ./gradlew clean build test

      - name: Prepare release artifacts
        run: |
          mkdir release
          cp decoder release/
          cp build/libs/*.jar release/
          ls -lh release/

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: Alpha
          name: Pre-Release ${{ github.run_number }}
          files: release/*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
