name: Release

on:
  push:
    branches:
      - 'master'  

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'oracle'

      - name: Grant execute permission for Gradle
        run: chmod +x gradlew
        
      - name: Generate timestamp
        id: timestamp
        run: |
          TZ="Europe/Berlin" date
          timestamp=$(TZ="Europe/Berlin" date +%Y%m%d-%H%M%S)
          echo "timestamp=$timestamp" >> $GITHUB_OUTPUT

      - name: Get latest Alpha release number (First one generated manually)
        id: get_alpha_number
        run: |
          response=$(curl -s -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" https://api.github.com/repos/${{ github.repository }}/releases)
          latest=$(echo "$response" | grep -o 'Alpha [0-9]\+' | sort -V | tail -n 1 | grep -o '[0-9]\+')
          if [ -z "$latest" ]; then
            next=1
          else
            next=$((latest + 1))
          fi
          echo "next_alpha=$next" >> $GITHUB_OUTPUT

      - name: Build and Test with unique snapshot
        run: |
          ./gradlew clean build test -PTIMESTAMP=${{ steps.timestamp.outputs.timestamp }}

      - name: Prepare release artifacts
        run: |
          mkdir release
          cp encoder release/
          cp decoder release/
          chmod +x release/encoder release/decoder

          JAR_NAME=grammarextractor_${{ steps.timestamp.outputs.timestamp }}.jar
          cp build/libs/*.jar release/$JAR_NAME

          # Create run.sh inside release folder
          cat << 'EOF' > release/run.sh
          #!/bin/bash

          # Give execute permissions to encoder and decoder
          chmod +x encoder decoder
          
          #Delete the zone identifier files
          find . -type f -name "Zone.Identifier" -delete

          # Run the JAR file
          java -jar grammarextractor_*.jar
          EOF

          # Ensure run.sh is executable
          chmod +x release/run.sh

          # Confirm all permissions before archiving
          ls -l release/

          ARCHIVE_NAME=grammarextractor_${{ steps.timestamp.outputs.timestamp }}.tar.gz

          cd release
          tar -czvf $ARCHIVE_NAME encoder decoder $JAR_NAME run.sh
          ls -lh $ARCHIVE_NAME
          cd ..

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: Alpha-${{ steps.get_alpha_number.outputs.next_alpha }}
          name: Alpha ${{ steps.get_alpha_number.outputs.next_alpha }}
          files: release/grammarextractor_${{ steps.timestamp.outputs.timestamp }}.tar.gz
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
